/*#quizbox {
min-height: 200px;
border-width: 5px;
border-color: black;
border-style: solid;
}*/

/*#quizside{
border-width: 5px;
border-color: black;
border-style: solid;
}*/

/*#picside{
border-width: 5px;
border-color: black;
border-style: solid;
}
*/
html, body{
    height:100%; 
    margin:0;padding:0;
    font-family: "Roboto", sans-serif;

}
 
.whole-height{
  height:100%;
}

.noshow{
    display: none;
}

img{
    max-width: 100%;
    height:auto;
    margin-top:30%;
}

#quizbox{
    margin-top:5%;
}

#pic{
    position:relative;
}
#picside{
    background-color: #f7f7fb;
}
h4{
    font-size: 26pt;
    margin-bottom: 28pt;
}

.showpic{
    font-size: 10pt;
    color: #02CA83;

}